.lnk {
	font-size: 0.6em;
	padding: 3px 3px;
	float: right;
	border: solid 1px white;
	text-decoration: none;
	color: black;
}

.hdrSpace {
	width: 200;
}

.loaderImg {
	display: none;
	width: 20px;
}

.source {
	text-align: center;
}

.hspacer {
	margin: 3px;
}

.initial-hide {
	display: none;
}

.navbar-search .search-query {
	padding-left: 29px !important;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJ5JREFUeNpi+P//PwMQMANxERCfAeI/UBrEZwbJQ9WAFR0A4u1AbAnEbFB6O1ScGaawGoi3wHQiYyBYDZKHKbwHxLo4FOqC5GEKf4Ksw6EQ5IyfIDYTkPEUiNUZsAOQ+F9GRkYJEKcFiDficSOIcRjE4QTiY0C8DuRbqAJLKP8/FP9kQArHUiA+jySJjA8w4LAS5KZd0MAHhaccQIABALsMiBZy4YLtAAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-position: 12px 8px;
}

.navbar-search .search-query:focus,.navbar-search .search-query.focused
	{
	padding-left: 30px;
	background-position: 13px 9px;
}
