body {
    font-family: Arial, sans-serif;
}

.lnk {
	font-size: 0.6em;
	padding: 3px 3px;
	float: right;
	border: solid 1px white;
	text-decoration: none;
	color: black;
}

.box{
    margin: 4px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.hdrSpace {
	width: 200;
}

.loaderImg {
	display: none;
	width: 20px;
}

.source {
	text-align: center;
}

.hspacer {
	margin: 3px;
}

.navbar-search .search-query {
	padding-left: 29px !important;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJ5JREFUeNpi+P//PwMQMANxERCfAeI/UBrEZwbJQ9WAFR0A4u1AbAnEbFB6O1ScGaawGoi3wHQiYyBYDZKHKbwHxLo4FOqC5GEKf4Ksw6EQ5IyfIDYTkPEUiNUZsAOQ+F9GRkYJEKcFiDficSOIcRjE4QTiY0C8DuRbqAJLKP8/FP9kQArHUiA+jySJjA8w4LAS5KZd0MAHhaccQIABALsMiBZy4YLtAAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-position: 12px 8px;
}

@media (max-width: 1379px) {
    .hidden-zoom1 {
        display:none !important;
    }
}
@media (max-width: 1144px) {
    .hidden-zoom2 {
        display:none !important;
    }
}
@media (max-width: 955px) {
    .hidden-zoom3 {
        display:none !important;
    }
}
@media (max-width: 817px) {
    .hidden-zoom4 {
        display:none !important;
    }
}

.navbar-search .search-query:focus,.navbar-search .search-query.focused
	{
	padding-left: 30px;
	background-position: 13px 9px;
}

.y-hover-label-name {
    text-align: right;
}
.y-hover-label-value {
	text-align: left;
    font-weight: bold;
    padding: 2px;
    margin: 2px;
 	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.timeline-label[href]{
	color: black;
}

.masonry-gutter{
    margin: 1px;
}

.typeahead.dropdown-menu{
    min-width: 400px;
}

/* slidesjs */
.active-hover:hover{
  opacity: 0.7;
}

#playSlideshow{
  color: #8FBC8F;
}
#stopSlideshow{
  color: #E9967A;
}

#slides {
  display: none
}

#slides .slidesjs-navigation {
  margin-top:3px;
}

#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}

#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
}

.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(../images/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
  color: #333
}

#slides a:hover,
#slides a:active {
  color: #9e2020
}
