<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery.ui.all.min.css" type="text/css" />
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.1/select2.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-lightbox/0.5/bootstrap-lightbox.min.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.3.0/rickshaw.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="css/graphitus.css">
<link type="text/css" rel="stylesheet" href="css/graph.css">
<link type="text/css" rel="stylesheet" href="css/detail.css">
<link type="text/css" rel="stylesheet" href="css/legend.css">
<link type="text/css" rel="stylesheet" href="css/extensions.css">

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.1/select2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/rickshaw/1.3.0/rickshaw.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-lightbox/0.5/bootstrap-lightbox.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js "></script>

<script type="text/javascript" src="js/jquery-ui-timepicker-addon.min.js"></script>
<script type="text/javascript" src="js/jquery.waitforimages.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/dashboard.js"></script>
<script type="text/javascript" src="js/extensions.js"></script>
<script type="text/javascript" src="js/extended-graph.js"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    loadGraphitusConfig(renderGraphitus);
});
</script>

<script type="text/template" id="tmpl-dashboards-view">
<% for (idx in config.data) { %>
    <% for(col=0; col<config.columns; col++) { %>
		<% if( (idx % config.columns) == col) { %>
        <div id="item<%=idx%>" class="well span<%=12/config.columns%>" style="width:<%=config.width%>px">
			<h5 class="pull-left" style="margin: 0px;">
                <%=config.data[idx].title%>
                <% if(config.data[idx].description){ %>
                    <a href="#" rel="tooltip" data-toggle="tooltip" title="<%=config.data[idx].description%>"><i class=" icon-question-sign"/></a>
                <% } %>
            </h5>
            <div class="pull-right">
            <div class="pull-left btn-group">
                <a class="btn btn-small btn-success dropdown-toggle hspacer" data-toggle="dropdown" href="#"> Functions...<span class="caret"></span></a>
                <ul class="dropdown-menu">      
                    <li>
                        <input id="yMin<%=idx%>" type="text" class="input-mini hspacer" placeholder="yMin">
                        <label class="pull-right hspacer">
                           <a target="_blank" class="label label-info pull-left" href="http://graphite.readthedocs.org/en/1.0/url-api.html"><i class="icon-question-sign"></i> Help</a>
                        </label>
                    </li>
                    <li>
                        <input id="yMax<%=idx%>" type="text" class="input-mini hspacer" placeholder="yMax">
                    </li>
                    <li>
                        <input id="otherUrlParamName<%=idx%>" type="text" class="input-mini hspacer" placeholder="name">
                        
                        <input id="otherUrlParamValue<%=idx%>" type="text" class="input-mini hspacer" placeholder="value">
                    </li>                    
                    <li>
                         <label>
                            <button class="btn btn-small btn-primary pull-right hspacer" onclick="updateGraph(<%=idx%>);">Update</button>
                         </label>
                    </li>
                </ul>
            </div>
            <div class="pull-left btn-group">
                <a class="btn btn-small btn-warning dropdown-toggle hspacer" data-toggle="dropdown" href="#"> Images...<span class="caret"></span></a>
                <ul class="dropdown-menu">      
                    <li class="navbar-text"><a id="lLink<%=idx%>" href="#">Large</a></li>
                    <li class="navbar-text"><a id="mLink<%=idx%>" href="#">Medium</a></li>
                    <li class="navbar-text"><a id="sLink<%=idx%>" href="#">Small</a></li>
                </ul>
            </div>
            <div class="pull-right">
                <button class="btn btn-small btn-primary pull-right hspacer" onclick="toggleSource(<%=idx%>);">Source</button>
                <a id="gLink<%=idx%>" href="#"><button class="btn btn-small btn-info pull-right hspacer">Graphlot</button></a>
            </div>
            </div>
            <br/>            
            <a href="#" onclick="showExtendedGraph(<%=idx%>); return false;"><img id="img<%=idx%>" class="img-rounded" width="<%=config.width%>" height="<%=config.height%>"/></a>
            <br/>
            <div id="sourceContainer<%=idx%>"class="hide">
                <textarea id="source<%=idx%>" style="width:<%=config.width-10%>px" class="source"></textarea><br/>
                <button class="btn btn-small" onclick="updateSource(<%=idx%>);">Update</button>
            </div>
        </div>
	    <% } %>
	<% } %>
<% } %>
</script>
<script type="text/template" id="tmpl-dashboards-menu">
<% if(_.isEmpty(dashboardsRoot)){ %>
    <li>
        <a href="dashboard.html?id=<%= path %>"><%= name %></a>
    </li>
<% }else{ %>
    <li class="dropdown-submenu">
        <a tabindex="-1" href="#"><%= name %></a>
        <ul class="dropdown-menu">
            <% for (node in dashboardsRoot) { %>
                <%= generateDashboardsMenu(node, path + "." + node, dashboardsRoot[node]) %>
            <% } %>
        </ul>
    </li>
<% } %> 
</script>
<script type="text/template" id="tmpl-toolbar">
    <a class="brand" href="index.html">&nbsp; graphitus</a>
    <ul class="nav">
        <li class="dropdown"> 
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= title %><b class="caret"></b></a>
            <ul id="dashboards" class="dropdown-menu">
                <%= dashboardsMenu %>
            </ul>  
        </li>
        <li class="navbar-text"><div><i class="icon-link"></i> <a href="#" title="permalink" id="permalink">permalink </a></div></li>
        <li class="divider-vertical"></li>
        <li>
            <form class="navbar-search form-inline pull-right">
                <input id="search" type="text" style="margin-top: 0px;" class="search-query input-small" placeholder="Search" />
            </form>
        </li>
        <li class="divider-vertical"></li>
        <li class="navbar-text"><i class="icon-time"></i> Back</li>
        <li class="divider-vertical"></li>
        <li><input placeholder="back" type="text" class="input-mini" style="width: 30px;" id="timeBack" name="timeBack" value="<%= (config.timeBack) ? config.timeBack : "" %>" onchange="useHours()" /></li>
        <li class="divider-vertical"></li>
        <li class="navbar-text"> <i class="icon-exchange" onclick="swapDates();" style="cursor: hand; cursor: pointer;"></i> </li>
        <li class="divider-vertical"></li>
        <li class="navbar-text"><i class="icon-calendar"></i> Dates </li>
        <li class="divider-vertical"></li>
        <li><input type="text" class="input-small" placeholder="start date" id="start" name="start" value="<%= (config.from) ? config.from : ""%>" onchange="useDateRange()" /></li>
        <li class="divider-vertical"></li>
        <li><input type="text" class="input-small" placeholder="end date" id="end" name="end" value="<%=(config.until) ? config.until : ""%>" onchange="useDateRange()" /></li>
        <li class="divider-vertical"></li>
        <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> Options<b class="caret"></b></a>
           <ul id="options" class="dropdown-menu" style="width: 200px;">
                    <li>
                    <label class="checkbox" style="margin: 10px">
                        <input type="checkbox" id="average" name="average" <% if(config.averageSeries) { %>checked="checked"<% } %> onchange="updateGraphs()" />Average Series
                    </label>
                    </li>
                    <li>
                    <label class="checkbox" style="margin: 10px">
                        <input type="checkbox" id="sum" name="sum" <% if(config.sumSeries) { %>checked="checked"<% } %> onchange="updateGraphs()" />Sum Series
                    </label>
                    </li>
                    <li class="divider"></li>
                    <li> 
                    <label class="checkbox" style="margin: 10px">
                        <input type="checkbox" id="legend" name="legend" <% if(config.legend && config.legend!=="false") {%> checked="checked" <% } %> onchange="updateGraphs()" /> Show Legend
                    </label>
                    </li>
                    <li>
                    <label class="checkbox" style="margin: 10px">
                         <input type="checkbox" id="events" name="events" <% if(config.showEvents && config.showEvents!=="false") {%> checked="checked" <% } %> onchange="updateGraphs()" /> Show Events
                    </label>
                    </li>
                    <li>
                    <label class="checkbox" style="margin: 10px">
                        <input type="checkbox" id="refresh" name="refresh" <% if(config.refresh) { %>checked="checked"<% } %> onchange="toggleAutoRefresh();" />Auto Refresh
                    </label>
                    </li>
                    <li class="divider"></li>
                    <li>
                    <label class="select" style="margin-left: 10px;"> Time Zone: </label>
                    <div class="pull-right" style="margin-right: 10px;margin-bottom: 10px;">
                        <select id="tz" onchange="setTimezone();" name="tz" class="input input-medium" style="margin-top: 0px;">
                            <option value="US/Eastern" selected="selected">US/Eastern</option>
                            <option value="US/Central">US/Central</option>
                            <option value="US/Pacific">US/Pacific</option>
                            <option value="Israel">Israel</option>
                            <option value="Europe/London">Europe/London</option>
                        </select>
                    </div>
                    </li>
            </ul>  
        </li>
        <li class="divider-vertical"></li>
        <li>
            <button class="btn btn-small btn-primary pull-right hspacer" style="margin-top:8px" onclick="updateGraphs();return false;"><i class="icon-circle-arrow-right"></i> Update</button>
        </li>
        <li class="divider-vertical"></li>
        <li>
            <div id="loadingProgress" class="progress progress-striped active" style="width: 100px;margin: 10px">
                <div class="bar" style="width: 100%;"><i class="icon-refresh icon-spin"></i> Updating... </div>
            </div>
            <div id="refreshCounter" class="navbar-text"></div>
        </li>
    </ul>
</script>
<script type="text/template" id="tmpl-parameter-sel">
    <li class="navbar-text">
        <div style="margin-top:5px; margin-right: 10px;line-height: 30px">
            <%= group %> <i class="icon-chevron-right"></i> 
            <select id="<%= group %>" name="<%= group %>"></select>
        </div>
    </li>
    <li class="divider-vertical"></li>
</script>
<script type="text/template" id="tmpl-parameter-sel-item">
    <% for(paramName in params){ %>
        <% var value = ( typeof params[paramName][group] === "undefined") ? paramName : params[paramName][group]; %>
        <% var selectedHtml = (selected && selected != "" && (selected === value || selected === paramName) ) ? "selected='selected'" : "" %>
        <option value="<%= value %>" <%= selectedHtml %>><%= paramName %></option>
    <% } %>
</script>
<script type="text/template" id="tmpl-warning-dashboard">
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>Warning!</h4>
  Could not load dashboard <%= dashboardId %>, check the dashboard index and configuration file.<br/>
  Go back to <a href="index.html">Graphitus Homepage</a> 
</div>
</script>
<script type="text/template" id="tmpl-warning-parameters">
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>Warning!</h4>
  <%= message %>
  Go back to <a href="index.html">Graphitus Homepage</a> 
</div>
</script>
</head>
<body lang="en">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <form  id="toolbar" class="navbar-form form-inline pull-left">
        </form>
      </div>
    </div>
    <div style="margin-top: 48px;"></div>
    <div id="parameters-toolbar" class="navbar navbar-inverse" style="z-index: 999;">
      <div class="navbar-inner">
        <form class="navbar-form form-inline">
            <span class="pull-left" style="width: 95%">
            <ul class="nav" id="parametersToolbarContent" ></ul>
            </span>
            <span class="pull-right" style="margin-top: 3px"><a href='#' class="btn btn-mini btn-inverse" id="parametersToolbarPin" onclick="togglePinnedParametersToolbar();"><i class="icon-lock"></i></a></span>
        </form>
      </div>    
    </div>
    <div id="message" class="hide"></div>
    <center>
        <div id="loader" class="progress progress-striped active" style="width: 30%;">
          <div id="progressBar" class="bar" style="width: 100%;">Loading Dashboard...</div>
        </div>
    </center>          
    <div id="dashboards-view" class="container" style="width: 100%">
    </div>
    
	<div id="extendedGraph" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class='lightbox-header'>
	        <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
	    </div>
		<div class='lightbox-content'>
			<div class="navbar navbar-inverse">
				<div class="navbar-inner">
						<ul class="nav">
							<li><label class="navbar-text" id="extendedGraphTitle"></label></li>
							<li class="divider-vertical"></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-bar-chart"></i> Options<b class="caret"></b></a>
								<ul class="dropdown-menu" style="width: 400px;text-align: left;">
								    <div style="margin-left: 10px;">
									   <form id="extendedChartOptionsForm" style="width: 400px;padding-bottom: 0px;">
									        <h1>Chart Options</h1>
									        <section>
									            <div id="renderer_form" class="toggler">
									                <input type="radio" name="renderer" id="area" value="area" checked>
									                <label for="area">area</label>
									                <input type="radio" name="renderer" id="bar" value="bar">
									                <label for="bar">bar</label>
									                <input type="radio" name="renderer" id="line" value="line">
									                <label for="line">line</label>
									                <input type="radio" name="renderer" id="scatter" value="scatterplot">
									                <label for="scatter">scatter</label>
									            </div>
									        </section>
									        <section>
									            <div id="offset_form">
									                <label for="stack">
									                    <input type="radio" name="offset" id="stack" value="zero" checked>
									                    <span>stack</span>
									                </label>
									                <label for="stream">
									                    <input type="radio" name="offset" id="stream" value="wiggle">
									                    <span>stream</span>
									                </label>
									                <label for="pct">
									                    <input type="radio" name="offset" id="pct" value="expand">
									                    <span>pct</span>
									                </label>
									                <label for="value">
									                    <input type="radio" name="offset" id="value" value="value">
									                    <span>value</span>
									                </label>
									            </div>
									            <div id="interpolation_form">
									                <label for="cardinal">
									                    <input type="radio" name="interpolation" id="cardinal" value="cardinal" checked>
									                    <span>cardinal</span>
									                </label>
									                <label for="linear">
									                    <input type="radio" name="interpolation" id="linear" value="linear">
									                    <span>linear</span>
									                </label>
									                <label for="step">
									                    <input type="radio" name="interpolation" id="step" value="step-after">
									                    <span>step</span>
									                </label>
									            </div>
									        </section>
									        <section>
									            <h6>Smoothing</h6>
                                                    <div id="smoother" style="width: 80%; padding-left: 5px;"></div>
									        </section>
									        <section><span class="trademark">powered by <a href="http://code.shutterstock.com/rickshaw/" target="_blank">rickshaw</a></span></section>
									    </form>
									  </div>
								</ul>
							</li>
                            <li style="width: 400px;">
                                <div id="lightboxProgress" class="progress progress-striped active" style="margin-top: 10px;">
                                    <div class="bar" id="lightboxProgressText" style="width: 100%;"></div>
                                </div>
                            </li>
                            <li>
                                <label class="hide label label-warning" style="margin-top: 10px;" id="lightboxProgressWarningWarning"></label>
                            </li>
						</ul>
				</div>
			</div>
			<div style="padding: 20px;">
				<div class="pull-left">
					<div id="extendedChart"></div>
					<div id="timeline"></div>
					<div id="slider" style="margin-top: 30px;"></div>
				</div>
				<div class="pull-right">
					<div style="padding-right: 3px; width: 170px;" id="extendedLegend"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
