<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
<script type="text/javascript" src="/resources/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="common.js"></script>
<script type="text/javascript" src="dashboard.js"></script>
<script type="text/javascript" src="waitForImages.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="graphite.css" rel="stylesheet">

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    loadGraphitusConfig(renderGraphitus);
});
</script>

<script type="text/template" id="tmpl-dashboards-view">
<% for (idx in config.data) { %>
    <% for(col=0; col<config.columns; col++) { %>
		<% if( (idx % config.columns) == col) { %>
        <div id="item<%=idx%>" class="well span<%=12/config.columns%>"  style="width:<%=config.width%>px">
			<h4 class="pull-left" style="margin: 0px;"><%=config.data[idx].title%></h4>
            <button class="btn btn-small btn-primary pull-right hspacer" onclick="toggleSource(<%=idx%>);">Source</button>
            <a id="lLink<%=idx%>" href="#"><button class="btn btn-small btn-success pull-right hspacer">L</button></a>
            <a id="mLink<%=idx%>" href="#"><button class="btn btn-small btn-warning pull-right hspacer">M</button></a>
            <a id="sLink<%=idx%>" href="#"><button class="btn btn-small btn-danger pull-right hspacer">S</button></a>
            <a id="gLink<%=idx%>" href="#"><button class="btn btn-small btn-info pull-right hspacer">Graphlot</button></a>
            <br/>
            <a id="link<%=idx%>" href=""><img id="img<%=idx%>" class="img-rounded"/></a>
            <div id="sourceContainer<%=idx%>" class="initial-hide">
                <textarea id="source<%=idx%>" class="source"></textarea>
                <button class="btn btn-small" onclick="updateSource(<%=idx%>);">Update</button>
            </div>
        </div>
	    <% } %>
	<% } %>
<% } %>
</script>
<script type="text/template" id="tmpl-toolbar">
    <a class="brand" href="index.html"><%= config.title %></a>
    <ul class="nav">
        <li class="dropdown">  
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboards<b class="caret"></b></a>
            <ul id="dashboards" class="dropdown-menu">  
                
            </ul>  
        </li>
        <li class="divider-vertical"></li>
        <li class="navbar-text">Back</li>
        <li class="divider-vertical"></li>
        <li><input placeholder="go back" type="text" class="input-mini" id="timeBack" name="timeBack" value="<%=config.timeBack%>" onchange="useHours()" /></li>
        <li class="divider-vertical"></li>
        <li class="navbar-text"> <strong>OR</strong> </li>
        <li class="divider-vertical"></li>
        <li class="navbar-text"> Date Range </li>
        <li class="divider-vertical"></li>
        <li><input type="text" class="input-small" placeholder="start date" id="start" name="start" value="<%=config.from%>" onchange="useDateRange()" /></li>
        <li class="divider-vertical"></li>
        <li><input type="text" class="input-small" placeholder="end date" id="end" name="end" value="<%=config.until%>" onchange="useDateRange()" /></li>
        <li class="divider-vertical"></li>
        <li> 
        <label class="checkbox" style="margin-top: 10px">
            <input type="checkbox" id="legend" name="legend" <% if(config.legend) {%> checked="checked" <% } %> onchange="updateGraphs()" /> Legend
        </label>
        </li>
        <li class="divider-vertical"></li>
        <li>
            <label class="checkbox" style="margin-top: 10px">
                <input type="checkbox" id="average" name="average" <% if(config.averageSeries) { %>checked="checked"<% } %> onchange="updateGraphs()" /> Average Series
            </label>
        </li>
        <li class="divider-vertical"></li>
        <li>
            <label class="checkbox" style="margin-top: 10px">
                <input type="checkbox" id="refresh" name="refresh" <% if(config.refresh) { %>checked="checked"<% } %> onchange="toggleAutoRefresh();" /> Auto Refresh
            </label>
        </li>
        <li class="divider-vertical"></li>
        <li>
            <button class="btn btn-small btn-primary pull-right hspacer" style="margin-top:8px" onclick="updateGraphs();return false;">Update</button>
        </li>
        <li class="divider-vertical"></li>
        <li>
            <div id="loadingProgress" class="progress progress-striped active" style="width: 100px;margin: 10px">
                <div class="bar" style="width: 100%;">Updating... </div>
            </div>
        </li>
        <li class="divider-vertical"></li>
        <li id="refreshCounter" class="navbar-text"></li>
    </ul>
</script>
<script type="text/template" id="tmpl-parameter-sel">
    <li class="navbar-text"><%= group %>: </li>
    <li class="divider-vertical"></li>
    <li>
    <select id="<%= group %>" name="<%= group %>" onchange="updateGraphs(); return false;" class="input-medium">
        <% $.each(params, function(paramName, param) { %>
            <% var value = ((typeof param) === 'object') ? paramName : param %>
            <% var selectedHtml = (selected && selected != "" && selected === value) ? "selected='selected'" : "" %>
            <option value="<%= value %>" <%= selectedHtml %>><%= value %></option>
        <% }); %>
    </select>
    </li>
    <li class="divider-vertical"></li>
</script>
<script id="tmpl-group" type="text/template"> 
    <li class="dropdown-submenu">
        <a tabindex="-1" href="#"><%=group%></a>
        <ul class="dropdown-menu">
            <% for (i in items) { %>
              <li><a href="dashboard.html?id=<%=items[i].id%>"><%=items[i].id.replace(group+".", "")%></a></li>
            <% } %>
        </ul>
    </li>
</script>
</head
<body lang="en">
    <div>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <form  id="toolbar" class="navbar-form form-inline">
        </form>
      </div>
    </div>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <form class="navbar-form form-inline">
            <ul class="nav" id="parametersToolbar" >
            </ul>
        </form>
      </div>
    </div>
    </div>
    <div id="dashboards-view" class="container" style="width: 100%">
    </div>            
</body>
</html>
