<!DOCTYPE html>
<html>
<head>
<title>Graphitus - Dashboard Index</title>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.1/masonry.pkgd.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/graphitus.css" type="text/css" media="all" />
<script type="text/javascript">
$(document).ready(function() {
    loadGraphitusConfig(loadDashboards);
});
</script>
<script type="text/template" id="tmpl-dashboards-menu">
<% if(isLeaf){ %>
    <li><a href="dashboard.html?id=<%= path %>"><%= name %></a></li>
<% }else{ %>
    <% var isRoot = (depth === 0); %>
    <% if(isRoot){ %><div class="well well-small box"><% }; %>
    <li class="nav-header"><% if(isRoot){ %><h5><% }; %><%=name%><% if(isRoot){ %></h5><% }; %></li>
    <ul class="nav nav-list">
    <% for (node in dashboardsRoot) { %>
        <%= generateDashboardsMenu(node, path + "." + node, dashboardsRoot[node], depth++) %>
    <% } %>
    </ul>
    <% if(isRoot){ %></div><% } %>
<% } %> 
</script>
</head>
<body>
    <div class="well" style="height: 38px;padding-top: 0px;">
        <div class="page-header">
            <h1><em>graphitus</em> <small>dashboards</small></h1>
        </div>
    </div>
    <center>
    	<div id="loader" class="progress progress-striped active" style="width: 50%">
          <div class="bar" style="width: 100%;"></div>
        </div>
    </center>
    <div id="dashboards" class="container-fluid">
    </div>
</body>
</html>